@charset "utf-8";

/*   共通部分   */
html{
    font-size: 100%;
    overflow:auto;
}
body{
    background-color: #ffc3c9;
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;   
    box-sizing: border-box;
}



/*   header   */
/*   logo   */
.logo{
    width: 15vw;
    margin-top: -3%;
}
a{ text-decoration: none; }

/*   nav   */
.main-nav{
    display: flex;
    font-size: 3vw;
    margin-top: 30px;
    list-style: none;
    margin-left: -10%;
}
.main-nav li{ margin-left: 50px; }
.main-nav a{ color: #ffffff; }
.main-nav a:hover{ color: #f797a5; }

/*   logo・nav   */
.header{
    display: flex;
    justify-content: space-between;
}



/*   contact   */
/*   top   */
.back{ position: relative; }
.back img{ width: 100%; }
.back h1{
    position: absolute;
    top: 35%;
    left: 10vw;
    font-size: 7vw;
    font-weight: bold;
}

/*   お問い合わせ   */
.contact{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* grid-auto-rows: 1fr; */
    grid-gap: 10%;
    margin: 10% 10vw 10% 10vw;
}
.contact > div {
    min-width: 0;
}

.link{
    font-size: 2vw;
    padding: 0 10%;
}
.link h2{ font-size: 4vw; }
.link a{
    color: #ffffff;
} 
.link a:hover{ color: rgb(180, 209, 235); }
table{ border-spacing: 0 5vh; }

.otoi{ width: 100%;}


/*   footer   */
body,
#kotei{
    display: flex;
    flex-direction: column;
}
footer{
    margin-top: 5%;
    background-color: #f797a5;
    background-size: 100%;
    color: #ffffff;
    font-size: 20%;
    height: 10vh;
}
footer p{
    text-align: center;
    margin-top: 4vh;
}
