@charset "utf-8";

/*   共通部分   */
html{
    font-size: 100%;
    overflow:auto;
}
body{
    background-color: #ffc3c9;
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;   
    box-sizing: border-box;
}



/*   shot   */
/*   title   */
h1{ 
    font-size: 3.5vw;
    text-align: center;
    margin-top: 5%;
}

/*   table   */
.pictures td img{
    width: 26vw;
    object-fit: cover;
    height: 50vh;
}
.table{ 
    border-collapse: separate; 
    border-spacing: 5vw;
}