@charset "utf-8";

/*   共通部分   */
html{
    font-size: 100%;
    overflow:auto; }
body{
    background-color: #ffc3c9;
    font-family: 'Quicksand', sans-serif;   
    box-sizing: border-box;
}



/*   header   */
/*   logo   */
.logo{
    width: 15vw;
    margin-top: -3%;
}
a{ text-decoration: none; }

/*   nav   */
.main-nav{
    display: flex;
    font-size: 3vw;
    margin-top: 30px;
    list-style: none;
    margin-left: -10%;
}
.main-nav li{ margin-left: 50px; }
.main-nav a{ color: #ffffff; }
.main-nav a:hover{ color: #f797a5; }

/*   logo・nav   */
.header{
    display: flex;
    justify-content: space-between;
}



/*   top   */
.top{ position: relative; }
.top img{
    width: 96%;
    margin: auto 2vw;
}
/*   title   */
.top h1{
    text-align: center;
    font-size: 30vw;
    font-family: 'Just Another Hand', cursive;

    position: absolute;
    top: 12%;
    left: 17%;
}
/*   link   */
.link{
    list-style: none;
    list-style-type: none;
    position: absolute;
    top: 50%;
    left: 30%;
}
.link li{ 
    margin: auto 2vw;
    display: inline;
}
.link li a{
    color: #ffffff;
    font-size: 2.3vw;
    text-decoration: none;
    
    background-color: #84deee;
    border-radius: 3vw;
    padding: 1vw 2vw;
}
.link li a:hover{ background-color: #79cbda;}



/*   shot   */
/*   title   */
h1{ 
    font-size: 3.5vw;
    text-align: center;
    margin-top: 17%;
}

/*   table   */
.pictures td img{
    width: 26vw;
    object-fit: cover;
    height: 50vh;
}
.table{ 
    border-collapse: separate; 
    border-spacing: 5vw;
}



/*   footer   */
body,
#kotei{
    display: flex;
    flex-direction: column;
}
footer{
    margin-top: 5%;
    background-color: #f797a5;
    background-size: 100%;
    color: #ffffff;
    font-size: 20%;
    height: 10vh;
}
footer p{
    text-align: center;
    margin-top: 4vh;
}
